.navbar {
  background-color: #f1f1f1;
}

.nav-link {
  text-transform: uppercase;
}

.page-container {
  max-width: 1000px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    background-color: #f1f1f1;
  }
}